<div class="contact py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- tittle heading -->
      <h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>C</span>ontact
        <span>U</span>s
      </h2>
      <!-- //tittle heading -->
      <div class="row contact-grids agile-1 mb-5">
        <div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-map-marker-alt rounded-circle"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Address</h3>
            <p style="font-weight: bold;color:black;">JT MART
              <label style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;" href="https://www.google.com/maps/place/Posari,+Maharashtra+410201/@18.935185,73.3356052,15z/data=!3m1!4b1!4m6!3m5!1s0x3be7fbb7c740651b:0x2bd250a61319a89b!8m2!3d18.9360198!4d73.3443425!16s%2Fg%2F12hn88t7_?hl=en&entry=ttu">#301, Posari, Karjat-Murbad Road, Karjat-Raiad.</a></label>
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-phone rounded-circle"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Call Us</h3>
            <p style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;" href="tel:+1800 120 1193">1800 120 1193</a>
  
  
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-envelope-open rounded-circle"></i>
            </div>
  
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Email</h3>
            <p>
              <a style="font-weight: bold;color:black;" href="mailto:edubridgeproject@.in">edubridgeproject@.in</a>
            </p>
          </div>
        </div>
      </div>