<div class="about-page">
<div class="about-section">
    <h1>About Us </h1>
  </div>
<div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- //tittle heading -->
      <div class="row">
        <h3 style="color:#220909;">About Store</h3>
        <div class="col-lg-6 welcome-left">
          <h4 class="my-sm-3 my-2">Grocery Delivery Application is a low-price online Grocery store, which has many vital ranging products consumed in our everyday Breakfast, Meals & Dinners. We have Fresh Vegetables, Staples, Beverages, Personal care products & many other products needed daily. All the products on our
           website are distinguished based on their categories, which gives you the hassle-free shopping experience ever with minimum time spent for your shopping.</h4>
        </div>
  
        <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
          <img src="../../../assets/images/GroceryStore.jpg" class="img-fluid" alt=" ">
        </div>
        <div class="welcome-left">
          <br><br><h3 class="text-left" style="color:#220909;">&ensp;What We Do</h3>
          <h4 class="my-sm-3" style="margin-left:15px;">We guarantee you the best quality products with the lowest price. Right now we only serve you in Karjat. To have a more convenient shopping experience, for you we deliver your selected products at your doorstep at your selected time slot. As in today's era every person sense short in time & also its hard to find if the consumable products are healthy/natural. So to tackle this issue we serve you with the finest & hand-picked products from all the categories,
          to save your time from the conventional shopping as well as
           from the problems like getting stuck in long queues, the parking fees to be paid, carrying you heavy shopping bags & etc.</h4>
        </div>
        <div class="welcome-left">
          <br><br><h3 class="text-left" style="color:#220909;">&ensp;Our Vision</h3>
          <h4 class="my-sm-3" style="margin-left:15px;">
          <li>Redefining India's freshest and finest food experience by 2023.</li>
          <li>To provide a brighter customer experience with an assortment of finest local and international foods and highest level of service. </li>
          <li>To spread the joy of food.</li>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>